.directionality__container {
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.directionality__content {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--CONTAINER-COLOR);
    padding: 6rem 0 2rem 2.5rem;
}

.directionality__icon {
    display: block;
    font-size: 2rem;
    color: var(--TITLE-COLOR);
    margin-bottom: var(--MB-1);
}

.directionality__title {
    font-size: var(--H3-FONT-SIZE);
    margin-bottom: var(--MB-1);
    font-weight: var(--FONT-MEDIUM);
}

.directionality__button {
    color: var(--TITLE-COLOR);
    font-size: var(--SMALL-FONT-SIZE);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
}

.directionality__button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.directionality__button:hover .directionality__button-icon {
    transform: translateX(0.25rem);
}

.directionality__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--Z-MODAL);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.directionality__modal-content {
    width: 500px;
    position: relative;
    background-color: var(--CONTAINER-COLOR);
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
}

.directionality__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--TITLE-COLOR);
    cursor: pointer;
}

.directionality__modal-title,
.directionality__modal-description {
    text-align: center;
}

.directionality__modal-title {
    font-size: var(--H3-FONT-SIZE);
    font-weight: var(--FONT-MEDIUM);
    margin-bottom: var(--MB-1);
}

.directionality__modal-description {
    font-size: var(--SMALL-FONT-SIZE);
    padding: 0 3.5rem;
    margin-bottom: var(--MB-2);
}

.directionality__modal-directionality {
    row-gap: 0.75rem;
}

.directionality__modal-service {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.directionality__modal-icon {
    color: var(--TITLE-COLOR);
    font-size: 1.1rem;
}

.directionality__modal-info {
    font-size: var(--SMALL-FONT-SIZE);
}

/* ACTIVE MODAL */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* RESPONSIVE LARGE DEVICES */
@media screen and (max-width: 992px) {
    .directionality__container {
        grid-template-columns: repeat(3, 218px);
    }
}

/* RESPONSIVE MEDIUM DEVICES */
@media screen and (max-width: 768px) {
    .directionality__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .directionality__content {
        padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    }

    .directionality__icon {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .directionality__modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .directionality__modal-description {
        padding: 0;
    }
}

/* RESPONSIVE SMALL DEVICES */
@media screen and (max-width: 350px) {
    .directionality__container {
        grid-template-columns: max-content;
    }

    .directionality__content {
        padding-right: 6rem;
    }
}